@font-face {
  font-family: "Stick", "Noto Sans TC";
  src: "https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Noto+Sans+TC&family=Stick&display=swap";
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
}


