@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Noto+Sans+TC&family=Stick&display=swap');

/* Apply the font globally */
body {
  font-family: "Stick", "Noto Sans TC", sans-serif; /* Primary font with fallbacks */
  /*font-size: 20px;*/ /* Base font size for the body */
  /*font-size: 1.125rem;*/ /* 1rem = 16px by default, so this is 18px */
  font-size: 1.38rem;
  line-height: 1.6; /* Readability */
}

/*
 * content area width
 * default: 80-100 characters
 * 1440px: for longer space
 * initial: stretch to available
 *
 * */
.md-grid {
  max-width: initial;
}

